# ignore files.
LICENSE
README.md

# files
# base/
base/class_object/class_object
base/class_object/class_object2
base/data_types/data_types
base/hello_world/hello_world
base/math_sample/math_sample
base/number_guess/number_guess
base/process_block/process_block
base/signal_callback/signal_callback
base/std_input/std_input
base/try_catch/try_catch
# gio
gio/main_loop/main_loop
# gtk
gtk/basic_sample/basic_sample
gtk/sync_widget/sync_widget